<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      .center {
        text-align: center;
      }

      form {

        padding-top: 300px;
        font-size: 40px;
        }
        input[type="submit"] {
            font-size: 25px;
         }
         p {
         text-align: center;
      }
    </style>
    <meta charset="UTF-8">
    <title>Named Entity Recognition</title>
</head>
<body style="background-color:#12A7C1">
<form class="center" action="/perform_ner" method="post">
  <label> Type your text here</label><br>
  <textarea name="ner_text"></textarea><br>
  <input type="submit" value="Perform NER">
</form>
{% if response %}
    {% for i in response['entities']: %}
        <p>{{ i['name'] + " ==> " + i['category'] }}</p>
    {% endfor %}
  {% endif %}

</body>
</html>