
<!DOCTYPE html>
<html lang="en">
<head>
    <!--making the bullet points center aligned and in front of list items-->
    <style>
      .center {
        text-align: center;
      }

      ul {
  display: table;
  margin: 0 auto;
  color:white;
        }
        p {
        padding-top: 40px;
        font-size: 40px;
      }
    </style>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background-color:#12A7C1">
        <div class="center">
            <img src="https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" width="500px",height="500px" >
             <p style="color:#E3F20E"><b>How would you like to proceed?</b> </p>

                <ul class="a">
                    <li><a href="/Named Entity Recognition" style="color:white;font-size:20px;">Named Entity Recognition</a> </li>
                    <li ><a href="/Sentiment Analysis" style="color:white;font-size:20px;">Sentiment Analysis</a> </li>
                    <li><a href="/Abuse Detection" style="color:white;font-size:20px;">Abuse Detection</a> </li>
                </ul>
            </div>
</body>
</html>








<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background-color:#12B1AD">
      <p style="color:white;text-align:center;"><b>What would you like to do?</b> </p>
      <ul>
        <li><a href="/Named Entity Recognition" style="color:white;text-align:center;">Named Entity Recognition</a> </li>
        <li><a href="##">Sentiment Analysis</a> </li>
        <li><a href="">Abuse Detection</a> </li>
      </ul>
</body>
</html>
-->
<!--x-->